@import "tailwindcss";

#root {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 36);
  color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}